
# ===== BUILD =====

/target/
/out/
/build/


# ===== JAR / EXE / BIN =====

*.exe
*.jar
*.war
*.ear
*.class
*.log

# ===== DATABASE FILES =====

*.db
*.mv.db
*.trace.db
*.h2.db
*.sqlite
*.sqlite3
*.sql

# ===== SPRING CONFIG (локальные профили) =====
application-local.properties
application-dev.properties
application-prod.properties
application-test.properties


# ===== ENV / SECRETS =====

.env
.env.*
*.env


# ===== INTELLIJ IDEA =====

.idea/
*.iml


# ===== MAVEN WRAPPER BIN =====

.mvn/wrapper/maven-wrapper.jar

# ===== OS =====

.DS_Store
Thumbs.db
