server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/music_catalog?currentSchema=public
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: public
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    default-schema: public
    schemas: public
    baseline-on-migrate: true
    clean-disabled: true

logging:
  level:
    org.flywaydb: info
    org.hibernate.SQL: debug